<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Infowners</title>
		<meta name="description" content="Infownersは、退去する人とお部屋探し中の人を繋げるお部屋情報プラットフォームです">
		<meta name="keywords" content="Infowners, Australia, Sydney, Gumtree, Jams.tv, シドニー, オーストラリア, ワーホリ, ワーキングホリデー">
		<style type="text/css">
    .jumbotron { 
                background:url(<%= asset_path "img_top.jpg" %>) 
                center no-repeat; 
                background-size: cover;
                height: 0;
                padding-top: 70.3296703%;
                margin-top: 40px;
                text-align:center;
                position: relative;
                display: flex;
  							justify-content: center;
 								align-items: center;
                
    }
    
    
    </style>
		<!--<link rel="stylesheet" href="sample.css">-->
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<![endif]-->
		<script src="sample.js"></script>
	</head>

	<body>

		
		<!----- メインコンテンツ ----->
		<div class="jumbotron jumbotron-fluid">
      <!--<div class="container">-->
      	<!--<div class="btn_wrap">-->
	       
	        <a href="/home/about" id="top_button_to_about">Infownersとは？</a>
        <!--</div>-->
      <!--</div>-->
    </div>
		<!----- メインコンテンツ END ----->
		
		<!----- フッター ----->
		<footer>フッター</footer>
		<!----- フッター END ----->
	</body>
</html>





